<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="/css/estilos.css">
	<title>Formulario</title>
</head>

<body class="body-form">
	<header id="header">
		<h1> CSS Stilos </h1>
	</header>
	<main class="main-form">
		<form action="" class="form">
			<h2 class="h2"> Formulario de clientes </h2>
			
			<label for="dni"> Ingresar DNI de cliente</label>
			<input type="number" id="dni" name="dni" required>
			
			<label for="name"> Ingresar el nombre completo</label>
			<input type="text" id="name" name="name" required>
			
			<label for="lastname"> Ingresar el apellido</label>
			<input type="text" id="lastname" name="lastname" required>
			
			<label for="email"> Ingresar correo electrónico</label>
			<input type="email" id="email" name="email" required>
			
			<label for="password"> Ingresar la contraseña</label>
			<input type="password" id="password" name="password" required>
			
			<label for="birthday"> Ingresar la fecha de nacimiento</label>
			<input type="date" id="birthday" name="birthday" required>
			
			<legend>Ingresar género</legend>
			<div>
				<input type="radio" id="genreF" name="genreF" value="femenino" >
				<label for="genreF">Femenino</label>
				<input type="radio" id="genreM" name="genreM" value="masculino"> 
				<label for="genreM">Masculino</label>
				<input type="radio" id="genreO" name="genreO" value="otro">
				<label for="genreO">Otro</label>
			</div>
			
			<label for="address"> Ingresar el domicilio</label>
			<input type="text" id="address" name="address" required>
			
			<label for="city"> Ingresar Provincia natal</label>
			<select id="city" selected required>
				<option value="Jujuy"> Jujuy </option>
				<option value="Salta"> Salta </option>
				<option value="Tucumán"> Tucumán </option>
				<option value="Catamarca"> Catamarca </option>
			</select>
			
			<label for="numberPhone"> Ingresar número telefónico</label>
			<input type="number" id="numberPhone" name="numbePhone">
			
			<legend>Seleccione las categorías de su interés</legend>
			<div>
				<input type="checkbox" id="football" name="football" value="futbol"/>
				<label for="football">Fútbol</label> 
				<input type="checkbox" id="cinema" name="cinema" value="cine"/> 
				<label for="cinema">Cine</label>
				<input type="checkbox" id="music" name="music" value="musica"/> 
				<label for="music">Música</label>
				<input type="checkbox" id="athletics" name="athletics" value="atletismo"/> 
				<label for="athletics">Atletismo</label>
				<input type="checkbox" id="paint" name="paint" value="pintura"/>
				<label for="paint">Pintura</label>
			</div>
			
			<label for="suggestion">Sugerencias</label>
			<input class="sugerencia" type="textarea" id="suggestion" name="suggestion"> 
			
			<div>
				<input type="checkbox" required> <label> Acepto los términos y condiciones. </label>
				</br>
				<input type="checkbox">  <label> Acepto recibir información relativa a la empresa. </label>
			</div>
		</form>
	</main>
</body>
</html>