<!DOCTYPE html>
<html lang="es">
<head>
<meta charset="UTF-8">
<title>Villanueva Esteban Ezequiel</title>
</head>
<body>
	<header>
		<h1>¡Primer archivo HTML en Programación Visual!</h1>
	</header>
	
	<nav>
		<ul>
			<li> 
				<a href="https://virtual.unju.edu.ar/course/view.php?id=2540">Aula Programación Visual</a>
			</li>
			<li> 
				<a href="https://virtual.unju.edu.ar/pluginfile.php/795638/mod_resource/content/1/Trabajo%20Pr%C3%A1ctico%201.pdf">Trabajo Práctico 1</a>
			</li>
			<li> 
				<a href="https://docs.oracle.com/en/java/">Java Documentation</a>
			</li>
		</ul>
	</nav>
	
	<main>
		<section>
			<h2>Tipos de datos en JAVA</h2>
		</section>
		
		<section>
			<h3>Creación de Objetos</h3>
		</section>
		
		<section>
			<h4>Métodos, Atributos y Variables</h4>
		</section>
		
		<p> Para aprobar el TP se tendrá en cuenta lo siguiente:</p>
		
		<ol>
			<li>Asistencia</li>
			<li>Teoria</li>
			<li>Práctica</li>
		</ol>
		
		<table>
			<h4> Ejemplos de las variables </h4>
  			<tr>
    			<th>integer/int</th>
    			<th>String</th>
    			<th>boolean</th>
  			</tr>
  			<tr>
    			<td>24</td>
    			<td>"Esteban"</td>
    			<td>true</td>
  			</tr>
  			<tr>
    			<td>20</td>
    			<td>"Franco"</td>
    			<td>false</td>
  			</tr>
		</table>
		
		<aside>
			<a href="https://docs.oracle.com/en/java/">
				<img alt="imagen del Logo de Java" src="/img/Java-Logo.png" width=100px heigth=100px>
			</a>
		</aside>
	</main>
	
	<footer>
		<ul>
			<li>
				<p>villanuevadarkos@gmail.com</p>
			</li>
			<li>
				<a href="https://github.com/Darkos0912">GitHub</a>
			</li>
			<li>
				<a href="https://www.linkedin.com/in/esteban-ezequiel-villanueva/">Linkedin</a>
			</li>
			<li>
				<a href="https://www.instagram.com/">Instagram</a>
			</li>
		</ul>
	</footer>
</body>
</html>