<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="/css/estilos.css">
	<title>Villanueva Esteban Ezequiel</title>
</head>
<body>
	<header id="header">
		<h1>¡Primer archivo HTML en Programación Visual!</h1>
	</header>
	
	<nav class="nav">
		<ul class="ul-nav">
			<li> 
				<a class="enlaces" href="https://virtual.unju.edu.ar/course/view.php?id=2540">Aula Programación Visual</a>
			</li>
			<li> 
				<a class="enlaces" href="https://virtual.unju.edu.ar/pluginfile.php/795638/mod_resource/content/1/Trabajo%20Pr%C3%A1ctico%201.pdf">Trabajo Práctico 1</a>
			</li>
			<li> 
				<a class="enlaces" href="https://docs.oracle.com/en/java/">Java Documentation</a>
			</li>
		</ul >
	</nav>
	
	<main class="main-index">
		<section class="section">
			<h2 class="h2">Tipos de datos en JAVA</h2>
		</section>
		
		<section class="section">
			<h3 class="h3">Creación de Objetos</h3>
		</section>
		
		<section class="section">
			<h4 class="h4">Métodos, Atributos y Variables</h4>
		</section>
		
		<p class="parrafo"> Para aprobar el TP se tendrá en cuenta lo siguiente:</p>
		
		<ol class="ol">
			<li>Asistencia</li>
			<li>Teoria</li>
			<li>Práctica</li>
		</ol>
		
		<table class="table">
			<h4> Ejemplos de las variables </h4>
  			<tr>
    			<th>integer/int</th>
    			<th>String</th>
    			<th>boolean</th>
  			</tr>
  			<tr>
    			<td>24</td>
    			<td>"Esteban"</td>
    			<td>true</td>
  			</tr>
  			<tr>
    			<td>20</td>
    			<td>"Franco"</td>
    			<td>false</td>
  			</tr>
		</table>
		
		<aside class="aside">
			<a class="enlace-aside" href="https://docs.oracle.com/en/java/">
				<img class="img-aside" alt="imagen del Logo de Java" src="/img/Java-Logo.png" width=100px heigth=100px>
			</a>
		</aside>
	</main>
	
	<footer id="footer">
		<ul class="ul-footer">
			<li>
				<p>villanuevadarkos@gmail.com</p>
			</li>
			<li>
				<a class="enlace-footer" href="https://github.com/Darkos0912">GitHub</a>
			</li>
			<li>
				<a class="enlace-footer" href="https://www.linkedin.com/in/esteban-ezequiel-villanueva/">Linkedin</a>
			</li>
			<li>
				<a class="enlace-footer" href="https://www.instagram.com/">Instagram</a>
			</li>
		</ul>
	</footer>
</body>
</html>